@import 'config';
@import 'menu';

* {
	box-sizing: border-box;
}

body {
	@include background();
	background: linear-gradient($primary-color, darken($primary-color, 3));
	color: $text-color;
	height: 100%;
	margin: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.5;
}

//headings
h1,
h2,
h3 {
	margin: 0;
	font-weight: 400;

	&.lg-heading {
		font-size: 6rem;
	}
	&.sm-heading {
		margin-bottom: 2rem;

		padding: 0.2rem 1rem;
		background: rgba(lighten($color: $primary-color, $amount: 2), 0.5);
	}
}

a {
	color: #fff;
	text-decoration: none;
}

header {
	position: fixed;
	z-index: 2;
	width: 100%;
}

.text-secondary {
	color: $secondary-color;
}

main {
	padding: 4rem;
	min-height: 100vh;

	.icons {
		margin-top: 1rem;

		a {
			padding: 0.4rem;
			color: darken($primary-color, 20);

			&:hover {
				color: $secondary-color;
				@include easeOut();
			}
		}
	}

	&#home {
		overflow: hidden;
		h1 {
			margin-top: 20vh;
		}
	}
}

#about {
	padding: 0 30vh 2vh 30vh;
	.lg-heading {
		margin-top: 2vh;
		font-size: 6rem;
		background: lighten($primary-color, 5);
	}

	.sm-heading {
		padding-bottom: 1vh;
		margin: 0 0 0 0;
		background: rgba(lighten($color: $primary-color, $amount: 2), 1);
	}

	.bio {
		.text-secondary {
			background: rgba(lighten($color: $primary-color, $amount: 2), 1);
		}
	}
}

.about-info {
	display: grid;
	grid-gap: 30px;
	grid-template-areas:
		'bioimage bio bio'
		'job1 job2 job3';
	grid-template-columns: repeat(3, 1fr);

	.bio-image-container {
		padding-top: 3vh;
		.bio-image {
			grid-area: bioimage;
			margin: auto;
			border-radius: 15%;
			border: $secondary-color 6px solid;
			height: auto;
			width: auto;
			min-width: 43vh;
			min-height: 43vh;
		}
	}

	.bio {
		background: lighten($primary-color, 5);
		grid-area: bio;
		font-size: 1.5rem;
		p {
			text-align: left;
			padding: 0 1vh 0 1vh;
		}
		margin-top: 3vh;
	}

	.job-1 {
		grid-area: job1;
	}

	.job-2 {
		grid-area: job2;
	}

	.job-3 {
		grid-area: job3;
	}

	.job {
		font-size: 20px;
		margin-top: 0;
		background: lighten($primary-color, 5);
		// border-top: $secondary-color 5px solid;
		// border-bottom: $secondary-color 5px solid;

		h3 {
			background: rgba(lighten($color: $primary-color, $amount: 2), 1);
			color: $secondary-color;
		}

		p {
			margin: 0 1vh 1vh 1vh;
			text-align: left;
		}
	}
}

@import 'mobile';
